# Node.js dependencies
node_modules/
backend/node_modules/

# Expo
.expo/
dist/
web-build/

# Debug logs
npm-debug.*

# Native build files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Environment variables
backend/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.production

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof

iOS
pods/
*.xcworkspace

# Temporary files
*.log
*.tmp
*.temp

# Expo
expo-env.d.ts

# Miscellaneous
*.bak
*.swp
*.swo
bowser-drivers-firebase-adminsdk-vzxf0-7e871b9a5a.json
# google-services.json
# application/google-services.json

# other files
todo.txt
/external

/dumpedData

#Ignore vscode AI rules
.github\copilot-instructions.md
/backend/src/routes/internal.js
